<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_ProfitInOrderGrid>
            <version>1.0.0</version>
        </Quafzi_ProfitInOrderGrid>
    </modules>
    <global>
        <blocks>
            <quafzi_profitinordergrid>
                <class>Quafzi_ProfitInOrderGrid_Block</class>
            </quafzi_profitinordergrid>
        </blocks>
        <helpers>
            <quafzi_profitinordergrid>
                <class>Quafzi_ProfitInOrderGrid_Helper</class>
            </quafzi_profitinordergrid>
        </helpers>
        <models>
            <quafzi_profitinordergrid>
                <class>Quafzi_ProfitInOrderGrid_Model</class>
            </quafzi_profitinordergrid>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <quafzi_profitinordergrid_adminhtml_block_html_before>
                        <class>quafzi_profitinordergrid/observer</class>
                        <method>beforeBlockToHtml</method>
                    </quafzi_profitinordergrid_adminhtml_block_html_before>
                </observers>
            </core_layout_block_create_after>
        </events>
        <translate>
            <modules>
                <Quafzi_ProfitInOrderGrid>
                    <files>
                        <default>Quafzi_ProfitInOrderGrid.csv</default>
                    </files>
                </Quafzi_ProfitInOrderGrid>
            </modules>
        </translate>
    </adminhtml>
</config>
