<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_ProfitInOrderGrid>
            <version>2.0.0</version>
        </Quafzi_ProfitInOrderGrid>
    </modules>
    <global>
        <helpers>
            <quafzi_profitinordergrid>
                <class>Quafzi_ProfitInOrderGrid_Helper</class>
            </quafzi_profitinordergrid>
        </helpers>
        <models>
            <quafzi_profitinordergrid>
                <class>Quafzi_ProfitInOrderGrid_Model</class>
            </quafzi_profitinordergrid>
        </models>
        <resources>
            <quafzi_profitinordergrid_setup>
                <setup>
                    <module>Quafzi_ProfitInOrderGrid</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quafzi_profitinordergrid_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <sales_order_item_save_before>
                <observers>
                    <quafzi_profitinordergrid_add_profit_to_order>
                        <class>quafzi_profitinordergrid/observer</class>
                        <method>updateOrderItemCostAndProfit</method>
                    </quafzi_profitinordergrid_add_profit_to_order>
                </observers>
            </sales_order_item_save_before>
            <sales_order_save_before>
                <observers>
                    <quafzi_profitinordergrid_add_profit_to_order>
                        <class>quafzi_profitinordergrid/observer</class>
                        <method>updateOrderCostAndProfit</method>
                    </quafzi_profitinordergrid_add_profit_to_order>
                </observers>
            </sales_order_save_before>
            <core_layout_block_create_after>
                <observers>
                    <quafzi_profitinordergrid_adminhtml_block_html_before>
                        <class>quafzi_profitinordergrid/observer</class>
                        <method>beforeBlockToHtml</method>
                    </quafzi_profitinordergrid_adminhtml_block_html_before>
                </observers>
            </core_layout_block_create_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <quafzi_profitinordergrid_adminhtml_block_html_before>
                        <class>quafzi_profitinordergrid/observer</class>
                        <method>afterBlockToHtml</method>
                    </quafzi_profitinordergrid_adminhtml_block_html_before>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Quafzi_ProfitInOrderGrid>
                    <files>
                        <default>Quafzi_ProfitInOrderGrid.csv</default>
                    </files>
                </Quafzi_ProfitInOrderGrid>
            </modules>
        </translate>
    </adminhtml>
</config>
